@import "../../theme";

.container {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex;
	flex-direction: column;
	border: $dockBorderThickness solid $dockBorderColor;
}

.zone {
	flex: 1;
	display: flex;
	position: relative;
	background-color: $dockContainerBackground;

	&:empty { display: none; }

	&.left {
		border-right: $dockBorderThickness solid $dockBorderColor;
		flex-direction: column;
		resize: horizontal;
		.dockableWidget { border-left: 0; border-bottom: 0; border-right: 0; }
		.zoneDragTargetContent { flex-direction: column; }
	}
	&.right {
		border-left: $dockBorderThickness solid $dockBorderColor;
		flex-direction: column;
		resize: horizontal;
		.dockableWidget { border-left: 0; border-bottom: 0; border-right: 0; }
		.zoneDragTargetContent { flex-direction: column; }
	}
	&.top, &.subtop {
		border-bottom: $dockBorderThickness solid $dockBorderColor;
		flex-direction: row;
		.dockableWidget { border-left: 0; border-bottom: 0; border-top: 0; }
		.zoneDragTargetContent { flex-direction: row; }
	}
	&.bottom, &.subbottom {
		border-top: $dockBorderThickness solid $dockBorderColor;
		flex-direction: row;
		.dockableWidget { border-left: 0; border-bottom: 0; border-top: 0; }
		.zoneDragTargetContent { flex-direction: row; }
	}

	&.left *:first-child, &.right *:first-child {
		border-top: 0;
	}

	&.top *:last-child, &.subtop *:last-child,
	&.bottom *:last-child, &.subbottom *:last-child {
		border-right: 0;
	}
}

.middle {
	flex: 3;
	display: flex;
	flex-direction: row;
}

.center {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 2;
}

.dockableHead {
	background-color: $dockBorderHeadBackground;
	//border-bottom: $dockBorderThickness solid $dockBorderColor;
	font-size: $dockBorderHeadSize;
	text-transform: uppercase;
	padding: $dockBorderHeadPadding $dockBorderHeadPadding*1.8;
	flex: 1;
	flex-grow: 0;
	cursor: -webkit-grab;
}

.dockableWidget {
	margin: $dockBorderMargin;
	border: $dockBorderThickness solid $dockBorderColor;
	flex: 1;
	display: flex;
	flex-direction: column;
	-webkit-transform: translateZ(0);
}

.widgetContent {
	flex: 1;
	display: flex;
}

.zoneDragTarget {
	padding: $dockDragPadding;
	& > div {
		opacity: $dockDragOpacity;
	}
	display: flex !important;
}
.zoneDropTarget {
	box-shadow: inset 0 0 $dockDragTargetGlow;
	& > div { opacity: $dockDragTargetOpacity; }
}