$cBackground: #f4f4f4;
$cForeground: #222;

$dockContainerBackground: #ccc;

$dockBorderThickness: 1px;
$dockBorderColor: #bbb;
$dockBorderMargin: 0;

$dockBorderHeadSize: 0.7rem;
$dockBorderHeadPadding: 0.2rem;
$dockBorderHeadBackground: #eee;

$widgetBackground: #f3f3f3;