$cBackground: #111;
$cForeground: #f4f4f4;

$dockContainerBackground: #111;

$dockBorderThickness: 1px;
$dockBorderColor: #555;
$dockBorderMargin: 0;

$dockBorderHeadSize: 0.7rem;
$dockBorderHeadPadding: 0.2rem;
$dockBorderHeadBackground: #333;

$widgetBackground: #222;