@import "patterns.scss";

// Window

$cBackground: #252525;
$cForeground: #f4f4f4;

// Chrome

$titlebarTextColor: #eee;
$titlebarBtnColor: #ccc;
$titlebarBtnXHighlight: #444;
$titlebarBtnXHighlightHover: #f26;
$titlebarBtnXHighlightHoverText: #fff;
$titlebarBtnHoverText: #666;
$titlebarBtnHoverBG: #ccc;
$titlebarBtnHoverTransition: all 0.1s;

// Dock container

$dockContainerBackground: #111;

$dockBorderThickness: 1px;
$dockBorderColor: #555;
$dockBorderMargin: 0;

$dockBorderHeadSize: 0.7rem;
$dockBorderHeadPadding: 0.2rem;
$dockBorderHeadBackground: #333;

$dockDragOpacity: 0.8;
$dockDragPadding: 0.2rem;
$dockDragTargetGlow: 20px #999;
$dockDragTargetOpacity: 0.5;

$dockZoneMinWidth: 250px;

// Split container

$splitBorderThickness: 1px;
$splitBorderColor: #555;
$splitBorderMargin: 0;

// Widget

$widgetBackground: #222;

// Stage view

$stageViewGridBackground: #222;
$stageViewGridColor: #1e1e1e;
$stageViewGridSize: 20px;

$stageViewStageOddBackground: stageViewStageGradient(0);
$stageViewStageEvenBackground: stageViewStageGradient(10);
$stageViewStageHeaderColor: #999;

// Shader view

$shaderViewBackground: linear-gradient(to bottom, #111 0%,#222 100%);

// Stage list

$stageListRemainingColor: #999;

$stageListItemBorder: 1px solid #444;
$stageListItemBackground: #444;
$stageListItemHeaderColor: #bbb;
$stageListItemMargin: 1px;

$stageListItemBackgroundHover: #666;
$stageListItemHoverTransition: 0.1s;