@import "../../theme.scss";

.container {
	.remaining {
		margin: 0.2rem;
		text-align: center;
		text-transform: uppercase;
		word-spacing: 0.2rem;
		font-size: 0.85rem;
		font-weight: 300;
		color: $stageListRemainingColor;
		line-height: 1.2rem;
	}
}

.stageListItem {
	border-bottom: $stageListItemBorder;
    background-color: $stageListItemBackground;
    margin: $stageListItemMargin;
	header {
		font-size: 0.8rem;
		font-weight: 300;
        word-spacing: 0.2rem;
        padding: 0.1rem 0 0.2rem 0.3rem;
	}
}